<div class="wrapper">
  <div class="main-panel">
    <div class="container">
      <h1 class="mt-3">Categories</h1>
      <div class="row mt-3">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="list-group">

            <a class="list-group-item">
              <label class="form-label">Category Name</label>
              <input #itemName type="text"
                class="form-control"
                [(ngModel)]="category.name"
                (keyup.enter)="addItem()"
              />
            </a>
            <a class="list-group-item">
              <button class="btn btn-success" (click)="addItem()">Add Category</button>
            </a>
            <a class="list-group-item">
              <button class="btn btn-danger" (click)="clearCategoryList()">Clear All Categoies</button>
            </a>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <div class="list-group">
              <label *ngFor="let item of categoryList" [class]="'list-group-item list-group-item-' + item.color">

                {{item.name}}

                <button (click) ="edit(item)" class="btn btn-secondary btn-sm float-end ms-1"><fa-icon [icon]="faEdit"></fa-icon></button>
                <button (click) ="delete(item)" class="btn btn-danger btn-sm float-end"><fa-icon [icon]="faDelete"></fa-icon></button>
                <span [class]="'badge category-color-badge bg-' + item.color + ' float-end mt-1 me-2'">{{item.color ? item.color : 'Undefined'}}</span>
              </label>
          </div>
        </div>
      </div>
    </div>
    <app-category-edit-form [modalCategory]="selectedCategory" (save)="saveCategoryWatcher($event)"></app-category-edit-form>
  </div>
</div>

